/.gradle
/.idea
/.vscode
/dist
/gradle
/meta
/node_modules
/public
/.gitattribute
/.npmignore
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/index.html
/settings.gradle
/tsconfig.json
/tsconfig.node.json
/vite.config.ts
